 .header {
    text-align: center;
    margin-bottom: 1rem;
    color: #636363;
    font-weight: 400;
    font-size: 3rem;
  }

  .ul {
    display: flex; /* Aktiverar flexbox */
    flex-direction: column; /* Objekten staplas vertikalt */
    align-items: center; /* Centrerar objekten horisontellt */
    list-style-type: none; /* Tar bort punkterna från listan */
    padding: 0; /* Tar bort standardpaddingen från listan */
  }
  
  .listobjects {
    box-shadow: 0 1px 16px #686569; /* Lägger till en skugga runt varje auktionsobjekt */
    padding: 1rem; /* Lägger till utrymme runt innehållet i varje auktionsobjekt */
    margin-bottom: 2rem; /* Lägger till utrymme mellan auktionsobjekten */
    border-radius: 5px; /* Ger ramen rundade hörn */
    background-color: rgba(218, 251, 255, 0.6); /* Sätter bakgrundsfärgen till en halvgenomskinlig vit färg */
    width: 50%; /* Sätter bredden till 50% av föräldraelementets bredd */
    max-width: 600px; /* Används för att sätta en maximal bredd om nödvändigt */
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  
  .listobjects h4,
  .listobjects p {
    margin: 1rem 0; /* Lägger till vertikalt utrymme runt rubriker och paragrafer */
    color:#636363;
    justify-content: center; /* Centrerar texten horisontellt */
    text-align: center;
  }

  .listobjects p {
    font-size: 0.85rem; /* Sätter textstorleken till 1.2 rem */
  }

  .listobjects h4 {
    font-size: 1.2rem; /* Sätter textstorleken till 1.5 rem */
    font-weight: 500;
  }
  
  .oncklicklink {
    text-decoration: none; /* Tar bort understrykningen från länken */
    color: #636363; /* Sätter färgen på länken */
  }

  .listobjects h2 {
    justify-content: center; /* Centrerar texten horisontellt */
    font-size: 1.7rem; /* Sätter textstorleken till 2 rem */
    font-weight: 400;
    text-align: center;
    color:#e3f9ff;
    background-color: rgba(83, 83, 83, 0.6);
    padding: 0.5rem;
    border-radius: 5px;
  }
  
  .listobjects:hover {
    background-color: #b3f0ff; /* Ändrar bakgrundsfärgen när muspekaren är över ett auktionsobjekt */
  }

  .listobjects a {
    text-decoration: none; /* Tar bort understrykningen från länken */
  }

  .searchInput {
    font-family: 'poppins';
    width: 20%;
    padding: 0.5rem;
    margin: 0 1rem;
    border-radius: 5px;
    border: none;
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }

  .searchInput:focus {
    outline: none;
  }

  .searchInput::placeholder {
    text-align: center;
  }

  .bidButton {
    font-family: 'poppins';
    padding: 0.5rem 2rem;
    border-radius: 5px;
    border: none;
    background-color: #3fd683;
    box-shadow: 1px 1px 5px #686569;
    color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }

  .bidButton:hover {
    background-color: #17c568;
    transform: matrix(1.1, 0, 0, 1.1, 0, 0);
  }
  .deleteButtonContainer {
    margin-left: auto; /* This will push the delete button to the right */
  }
  .deleteButton {
    font-family: 'poppins';
    padding: 0.5rem 2rem;
    border-radius: 5px;
    border: none;
    background-color: #5310e2;
    box-shadow: 1px 1px 5px #686569;
    color: #fff;
    cursor: pointer;
    display: flex;
    margin: 0 auto;
    align-self: flex-end;
    position: absolute;
    bottom: 10;
    right: 0;
  }

  .deleteButton:hover {
    background-color: #f41212;
    transform: matrix(1.1, 0, 0, 1.1, 0, 0);
  }