.navbar {
    max-width: 100%;
    overflow: hidden;
    background-color:#c9faff; 
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.ul-list {
    list-style-type: none; 
    display: flex; 
    align-items: center;
    justify-content: center; 
  }

.navbar a {
    text-decoration: none;
    margin: 0 2rem;
    display: flex;
}

.links {
    display: flex;
    font-size: 1rem;
    margin: 0 1rem;
}

.links a {
    color: #3a3a3a;
    text-decoration: none;
    margin: 0 1rem;
    display: flex;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

.links a:hover {
    transform: matrix(1.1, 0, 0, 1.1, 0, 0);
}

